<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="./png/icon.png"/>
    <link rel="stylesheet" th:href="@{/css/terminals/terminal_update.css}"/>
    <script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/terminals/update_terminal.js}"></script>
    <title>Редактирование терминала</title>
</head>
<body>

<div class="terminal_info">
    <div class="header">Редактирование профиля терминала:
        <hr>
    </div>

        <input id="id" type='hidden' name='id' th:value='${param.id}'/>
        <table class="table">
            <tr>
                <td class="cell">Учетный номер:</td>
                <td><input id="regId_input" class="input" type='text' name='regId' AUTOCOMPLETE="off"/></td>
            </tr>
            <tr>
                <td class="cell">Модель:</td>
                <td><input id="model_input" class="input" type='text' name='model' AUTOCOMPLETE="off"/></td>
            </tr>
            <tr>
                <td class="cell">Серийный номер:</td>
                <td><input id="serialId_input" class="input" type='text' name='serialId' AUTOCOMPLETE="off"/></td>
            </tr>
            <tr>
                <td class="cell">Инв. номер:</td>
                <td><input id="inventoryId_input" class="input" type='text' name='inventoryId' AUTOCOMPLETE="off"/></td>
            </tr>
            <tr>
                <td class="cell">Комментарий:</td>
                <td><textarea id="comment_input" name="comment" class="commentField" cols="32" rows="7"
                              AUTOCOMPLETE="off" style="resize: none"></textarea></td>
            </tr>
            <tr>
                <td class="cell">Департамент:</td>
                <td><select id="departmentsSelector" class="input" name="department" >
                </select></td>
            </tr>
            <tr>
                <td class="cell">Активен:</td>
                <td><input id="isActive_input" type='checkbox' name='isActive'/></td>
            </tr>
        </table>

        <hr>
        <div class="left_button"><input type='button' onclick="validate();" value='Изменить'></div>



    <div class="right_button">
        <form action="./terminals">
            <button>Назад</button>
        </form>
    </div>

    <div class="sys_info" id="sys_info">
    </div>

</div>

</body>
</html>